*{
    font-family: 'Bebas Neue', sans-serif;
   
}
header{
    position:fixed;
    top:0;
    width:90%;
    padding: 40px 100px;
    transition: 2s;
    z-index: 10000000;
  
}

header.sticky{
    padding:5px 100px;
    background-color: yellowgreen;
}
header ul{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
ul li{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: overline;
    color: rgb(255, 255, 255);
    font-size:x-large;
    animation-name: grow;
    animation-duration: 0.1s;
    transition: all 1s;
    padding-left: 3%;
}

body{
    background-color: black;
}
.confirm{
    color:white;
    font-size: 50px;
    padding-left:5rem;
    padding-right:5rem;
    padding-top:10rem;
    padding-bottom:2rem;
    place-items: center;
    align-content: center;

    text-align: center;

}

.contacts{
    place-items: center;
    align-content: center;
    color:white;
    font-size:20px;
    text-align: center;
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contacts .item{
    padding-top:5vh;
    font-size:20px;
    
}
.contacts .item1{
    padding-top:5vw;
    font-size:20px;

}
.contacts .item2{
    padding-top:5vw;
    font-size:20px;
}
