body{
    background-image:url(images/back-3.jpg);
    background-size: cover;
    image-rendering: crisp-edges;
    background-position: 50% 50%;
    height: 100%;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
    image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}
header{
    position:fixed;
    top:0;
    width:90%;
    padding: 40px 100px;
    transition: 2s;
    z-index: 10000000;
    background-color: red;
  
}

header.sticky{
    padding:5px 100px;
    background-color: yellowgreen;
}
header ul{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
ul li{
    
    display: flex;

    position: relative;
    justify-content: center;
    align-items: center;
    text-decoration: overline;
    color: rgb(255, 255, 255);
    font-size:x-large;
    animation-name: grow;
    animation-duration: 0.1s;
    transition: all 1s;
    padding-left: 3%;
}
.AREA-with-backimage{
    background-image:url(images/back-3.jpg);
    background-size: cover;
    image-rendering: crisp-edges;
    background-position: 50% 50%;
    height: 100%;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */
    image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;

}

.full-form{
    
    color:yellowgreen;

    
    flex-direction: column;
    padding:2vw 4vw;
 
    width:90%;
    max-width:600px;
    border-radius: 10px;
    display:grid;
    place-items: center;
    align-content: center;
}


.Sign-up-title{
    color:yellowgreen;
    display: grid;
    place-items: center;
    align-content: center;
    font-size: 60px;
}
.form-group{

    border:0;
    margin:10px 0;
    padding:20px;
    outline: none;
    color: yellowgreen;
    background-color: rgba(128, 128, 128, 0.281);
    font-size: 36px;
    height: 10vh;
    
}
.col-md-12{
    height: 100vh;
    
}
.form-control{
    height: 3vh;
    display:grid;
    place-items: center;
    align-content: center;
}
.form-button{
    padding:15px;
    background: yellowgreen;
    color: white;
    font-size: 18px;
    border:0;
    outline:none;
    cursor:pointer;
    width: 540px;
    margin:20px auto 0;
    display: grid;
    place-items: center;
    align-content: center;
}
.container bg-black{
    padding-left: 10rem;
}
